<!DOCTYPE html>
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-3" th:fragment="categories">
	<h1 style="margin-top: 50px">Categories</h1>
	<ul class="list-group">
		<li class="list-group-item"><a th:href="@{~/}">All</a></li>

		<li class="list-group-item" th:each="category: ${categories}">
			<a th:href="@{/categories(category=${category.getName()})}"
			   th:text="${category.getName()}">Dummy Kategorie</a>
		</li>

	</ul>
</div>
</html>
