<!DOCTYPE html>
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div class="col-lg-3" th:fragment="categories">
  <h1 style="margin-top: 50px">Categories</h1>
  <ul class="list-group">
    <li class="list-group-item active" th:if="${category != null && category.equals('all')}">
      <a class="text-white" th:href="@{~/}">All</a>
    </li>
    <li class="list-group-item" th:unless="${category != null && category.equals('all')}">
      <a th:href="@{~/}">All</a>
    </li>

    <th:block th:each="cat: ${categories}">
      <li class="list-group-item active"
          th:if="${category != null && category.toLowerCase().equals(cat.getName().toLowerCase())}">
        <a class="text-white"
           th:href="@{/categories(category=${cat.getName()})}" th:text="${cat.getName()}">Dummy
          Kategorie</a>
      </li>
      <li class="list-group-item"
          th:unless="${category != null && category.toLowerCase().equals(cat.getName().toLowerCase())}">
        <a th:href="@{/categories(category=${cat.getName()})}"
           th:text="${cat.getName()}">Dummy Kategorie</a>
      </li>
    </th:block>
  </ul>
</div>
</html>
