.messageArea {
    padding: 0;
}

.message {
    position: relative;
    list-style: none;
}

.message.event {
    border-top: 1px solid #ddd;
    text-align: center;
    font-weight: bold;
}

.message.divided {
    border-top: 1px solid #ddd;
}

.message-title {
    position: absolute;
    top: -10px;
    left: 10px;
    padding: 0 10px;
    background-color: white;
    color: #aaa
}

.chat-form  {
    display: flex;
    border: 1px solid #ddd;
}

.chat-input {
    flex: 1;
    border: none;
    resize: none;
    padding: 5px;
}

.chat-send {
    margin: 10px;
}

.chat-hidden {
    display: none;
}

.chat-header {
    display: flex;
}

.chat-header h2 {
    margin: 5px 20px 5px 0;
}
